In [1]:
import pandas as pd

In [2]:
combustible = pd.read_csv('../Data/Data Procesada/vehiculos_combustion.csv')

In [3]:
tipo = combustible['Tipo_Combustible']

In [5]:
tipo =  tipo.drop_duplicates()

In [6]:
tipo =  pd.DataFrame(tipo)

In [7]:
tipo['Id_Combustible'] = range(1, len(tipo) + 1)

In [8]:
tipo

                 Tipo_Combustible  Id_Combustible
0                         Premium               1
4                         Regular               2
16                         Diesel               3
20                    Electricity               4
35                Gasoline or E85               5
117                      Midgrade               6
196       Premium and Electricity               7
198                Premium or E85               8
201                           NaN               9
240   Regular Gas and Electricity              10
441    Regular Gas or Electricity              11
676    Premium Gas or Electricity              12
2416                          CNG              13
3882      Gasoline or natural gas              14
4229          Gasoline or propane              15